Clean-up raw Schengen input file and save as silver statistics

In [6]:
import schengentools.visastatsparser as vp
job = vp.Parser(2020)
job.extract('../data/bronze/visa_statistics_for_consulates_2020.xlsx')
job.transform()
job.load()
df = job.df

Input file loaded into dataframe
Renamed columns
Removed irrelevant rows such as summary rows
Selected columns
Replaced applied, issued and not issued null values with 0
Calculate refusal rate as the not issued share of the total issued and not issued
Added column with year issued and not issued

C:\Users\mogens.hobolth\Miniconda3\envs\myenv\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

Data quality checks

In [7]:
df[df["visas_applied"] != df["visas_issued"] + df["visas_not_issued"]]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
0,Austria,ALBANIA,TIRANA,14.0,9.0,0.0,0.000000,2020
4,Austria,AZERBAIJAN,BAKU,343.0,323.0,14.0,0.041543,2020
7,Austria,BULGARIA,SOFIA,123.0,121.0,0.0,0.000000,2020
13,Austria,CROATIA,ZAGREB,102.0,87.0,6.0,0.064516,2020
17,Austria,ETHIOPIA,ADDIS ABEBA,201.0,193.0,5.0,0.025253,2020
...,...,...,...,...,...,...,...,...
1698,Switzerland,UNITED KINGDOM,LONDON,2463.0,2343.0,88.0,0.036199,2020
1700,Switzerland,USA,"NEW YORK, NY",782.0,746.0,14.0,0.018421,2020
1701,Switzerland,USA,"SAN FRANCISCO, CA",654.0,647.0,5.0,0.007669,2020
1702,Switzerland,USA,"WASHINGTON, DC",185.0,172.0,7.0,0.039106,2020
1704,Switzerland,VIETNAM,HO CHI MINH,469.0,439.0,28.0,0.059957,2020

In [8]:
df[df["visa_refusal_rate"]>1]

Empty DataFrame
Columns: [schengen_state, origin_country, origin_consulate, visas_applied, visas_issued, visas_not_issued, visa_refusal_rate, year]
Index: []

In [9]:
df[df["visa_refusal_rate"].isna()]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
64,Belgium,AUSTRIA,VIENNA,2.0,0.0,0.0,NaN,2020
82,Belgium,CZECH REPUBLIC,PRAGUE,2.0,0.0,0.0,NaN,2020
86,Belgium,FRANCE,PARIS,3.0,0.0,0.0,NaN,2020
87,Belgium,GERMANY,BERLIN,2.0,0.0,0.0,NaN,2020
90,Belgium,HUNGARY,BUDAPEST,3.0,0.0,0.0,NaN,2020
98,Belgium,ITALY,ROME,2.0,0.0,0.0,NaN,2020
130,Belgium,SWITZERLAND,BERN,2.0,0.0,0.0,NaN,2020
195,Czech Republic,POLAND,WARSAW,1.0,0.0,0.0,NaN,2020
279,Estonia,ISRAEL,TEL AVIV,1.0,0.0,0.0,NaN,2020
526,Germany,ESTONIA,TALLINN,0.0,0.0,0.0,NaN,2020
533,Germany,HONDURAS,TEGUCIGALPA,0.0,0.0,0.0,NaN,2020
674,Greece,GERMANY,STUTTGART,4.0,0.0,0.0,NaN,2020
712,Greece,SPAIN,MADRID,1.0,0.0,0.0,NaN,2020
892,Italy,LITHUANIA,VILNIUS,1.0,0.0,0.0,NaN,2020
1121,Netherlands,PORTUGAL,LISBON,1.0,0.0,0.0,NaN,2020
1130,Netherlands,SLOVAKIA,BRATISLAVA,7.0,0.0,0.0,NaN,2020
1160,Norway,ALGERIA,ALGIERS,0.0,0.0,0.0,NaN,2020
1173,Norway,IRAN,TEHERAN,1.0,0.0,0.0,NaN,2020
1174,Norway,ITALY,ROME,1.0,0.0,0.0,NaN,2020
1180,Norway,NETHERLANDS,THE HAGUE,0.0,0.0,0.0,NaN,2020
1187,Norway,SWEDEN,STOCKHOLM,0.0,0.0,0.0,NaN,2020
1400,Slovenia,AUSTRIA,VIENNA,1.0,0.0,0.0,NaN,2020
1481,Spain,GERMANY,STUTTGART,3.0,0.0,0.0,NaN,2020
1590,Sweden,GERMANY,BERLIN,6.0,0.0,0.0,NaN,2020
1591,Sweden,GREECE,ATHENS,4.0,0.0,0.0,NaN,2020
1599,Sweden,ITALY,ROME,7.0,0.0,0.0,NaN,2020
1616,Sweden,SPAIN,MADRID,10.0,0.0,0.0,NaN,2020

In [10]:
df.describe()

,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
count,1705.000000,1705.000000,1705.000000,1678.000000,1705.0
mean,1715.170088,1459.909677,231.827566,0.173709,2020.0
std,5807.819828,5401.654836,856.716705,0.210329,0.0
min,0.000000,0.000000,0.000000,0.000000,2020.0
25%,26.000000,19.000000,1.000000,0.014196,2020.0
50%,204.000000,154.000000,19.000000,0.096982,2020.0
75%,961.000000,741.000000,134.000000,0.258928,2020.0
max,97026.000000,96442.000000,14179.000000,1.000000,2020.0