Create consolidated cities dataset from Schengen visa statistics input file

In [1]:
import schengentools.geomapping as gm
gc = gm.Geocoder()
gc.read_schengen_csv('../data/silver/schengen-visa-2013.csv')
gc.extract_locations()
gc.rename_cities()
gc.rename_countries()
gc.geocode_dataframe()
gc.save('../data/silver/cities-2013.csv')

Input file loaded into dataframe
Extracted countries and cities from input dataset
Renamed relevant city names to geolocator compatible names
Renamed relevant country names to geolocator compatible names
93.65079365079364% of cities were geocoded!
Output file saved

Show list of locations which could not be geocoded

In [2]:
df = gc.df
df[df["latitude"].isna()]

,origin_country,origin_consulate,country,city,latitude,longitude
81,UKRAINE,VINNYTSYA,UKRAINE,VINNYTSYA,NaN,NaN
98,"IRAN, ISLAMIC REPUBLIC OF",TEHERAN,"IRAN, ISLAMIC REPUBLIC OF",TEHERAN,NaN,NaN
177,"MOLDOVA, REPUBLIC OF",CHISINAU,"MOLDOVA, REPUBLIC OF",CHISINAU,NaN,NaN
459,USA,"MIAMI, FL",USA,"MIAMI, FL",NaN,NaN
486,USA,"NEW YORK, NY",USA,"NEW YORK, NY",NaN,NaN
601,USA,"SAN FRANCISCO, CA",USA,"SAN FRANCISCO, CA",NaN,NaN
602,USA,"CHICAGO, IL",USA,"CHICAGO, IL",NaN,NaN
628,HONG KONG S.A.R.,HONG KONG,HONG KONG,HONG KONG,NaN,NaN
649,USA,"HOUSTON, TX",USA,"HOUSTON, TX",NaN,NaN
710,USA,"LOS ANGELES, CA",USA,"LOS ANGELES, CA",NaN,NaN
794,USA,"BOSTON, MA",USA,"BOSTON, MA",NaN,NaN
919,USA,"DETROIT, MI",USA,"DETROIT, MI",NaN,NaN
1119,MACAO,MACAO,MACAO,MACAO,NaN,NaN
1214,USA,"NEWARK, NJ",USA,"NEWARK, NJ",NaN,NaN
1300,NETHERLANDS,WILLEMSTAD (CURACAO),NETHERLANDS,WILLEMSTAD (CURACAO),NaN,NaN
1315,PUERTO RICO,SAN JUAN,PUERTO RICO,SAN JUAN,NaN,NaN
1356,USA,"TAMPA, FL",USA,"TAMPA, FL",NaN,NaN
1395,USA,"NEW BEDFORD, MA",USA,"NEW BEDFORD, MA",NaN,NaN
1449,BRAZIL,"BELEM, PA",BRAZIL,"BELEM, PA",NaN,NaN
1616,USA,"CLEVELAND, OH",USA,"CLEVELAND, OH",NaN,NaN

Show descriptive statistics

In [3]:
df.count()

origin_country      315
origin_consulate    315
country             315
city                315
latitude            295
longitude           295
dtype: int64

In [4]:
df.head(5)

,origin_country,origin_consulate,country,city,latitude,longitude
0,RUSSIAN FEDERATION,ST. PETERSBURG,RUSSIAN FEDERATION,ST. PETERSBURG,59.938732,30.316229
1,RUSSIAN FEDERATION,MOSCOW,RUSSIAN FEDERATION,MOSCOW,55.750541,37.617478
7,UKRAINE,LVOV,UKRAINE,LVOV,49.841952,24.031592
8,BELARUS,MINSK,BELARUS,MINSK,53.902472,27.561823
9,CHINA,BEIJING,CHINA,BEIJING,39.905714,116.391297