Create consolidated cities dataset from Schengen visa statistics input file

In [2]:
import schengentools.geomapping as gm
gc = gm.Geocoder()
gc.read_schengen_csv('../data/silver/schengen-visa-2018.csv')
gc.extract_locations()
gc.rename_cities()
gc.rename_countries()
gc.geocode_dataframe()
gc.save('../data/silver/cities-2018.csv')

Extracted countries and cities from input dataset
Renamed relevant city names to geolocator compatiable names
Renamed relevant country names to geolocator compatiable names
100.0% of cities were geocoded!
Output file saved

Show list of locations which could not be geocoded

In [3]:
df = gc.df
df[df["latitude"].isna()]

Empty DataFrame
Columns: [origin_country, origin_consulate, country, city, latitude, longitude]
Index: []

Show descriptive statistics

In [4]:
df.count()

origin_country      305
origin_consulate    305
country             305
city                305
latitude            305
longitude           305
dtype: int64

In [5]:
df.head(5)

,origin_country,origin_consulate,country,city,latitude,longitude
0,ALBANIA,TIRANA,ALBANIA,TIRANA,41.327948,19.818551
1,ALGERIA,ALGIERS,ALGERIA,ALGIERS,36.775361,3.060188
2,ARGENTINA,BUENOS AIRES,ARGENTINA,BUENOS AIRES,-34.607568,-58.437089
3,AUSTRALIA,CANBERRA,AUSTRALIA,CANBERRA,-35.297591,149.101268
4,AZERBAIJAN,BAKU,AZERBAIJAN,BAKU,40.163999,50.277709