Create consolidated cities dataset from Schengen visa statistics input file

In [1]:
import schengentools.geomapping as gm
gc = gm.Geocoder()
gc.read_schengen_csv('../data/silver/schengen-visa-2014.csv')
gc.extract_locations()
gc.rename_cities()
gc.rename_countries()
gc.geocode_dataframe()
gc.save('../data/silver/cities-2014.csv')

Input file loaded into dataframe
Extracted countries and cities from input dataset
Renamed relevant city names to geolocator compatiable names
Renamed relevant country names to geolocator compatiable names
100.0% of cities were geocoded!
Output file saved

Show list of locations which could not be geocoded

In [2]:
df = gc.df
df[df["latitude"].isna()]

Empty DataFrame
Columns: [origin_country, origin_consulate, country, city, latitude, longitude]
Index: []

Show descriptive statistics

In [3]:
df.count()

origin_country      311
origin_consulate    311
country             311
city                311
latitude            311
longitude           311
dtype: int64

In [4]:
df.head(5)

,origin_country,origin_consulate,country,city,latitude,longitude
0,RUSSIAN FEDERATION,ST. PETERSBURG,RUSSIAN FEDERATION,ST. PETERSBURG,59.938732,30.316229
1,RUSSIAN FEDERATION,MOSCOW,RUSSIAN FEDERATION,MOSCOW,55.750446,37.617494
7,ALGERIA,ALGIERS,ALGERIA,ALGIERS,36.775361,3.060188
8,UKRAINE,LVOV,UKRAINE,LVOV,49.841952,24.031592
9,CHINA,BEIJING,CHINA,BEIJING,39.906217,116.391276