Create consolidated cities dataset from Schengen visa statistics input file

In [1]:
import schengentools.geomapping as gm
gc = gm.Geocoder()
gc.read_schengen_csv('../data/silver/schengen-visa-2022.csv')
gc.extract_locations()
gc.rename_cities()
gc.rename_countries()
gc.geocode_dataframe()
gc.save('../data/silver/cities-2022.csv')

Input file loaded into dataframe
Extracted countries and cities from input dataset
Renamed relevant city names to geolocator compatiable names
Renamed relevant country names to geolocator compatiable names
100.0% of cities were geocoded!
Output file saved

Show list of locations which could not be geocoded

In [2]:
df = gc.df
df[df["latitude"].isna()]

Empty DataFrame
Columns: [origin_country, origin_consulate, country, city, latitude, longitude]
Index: []

Show descriptive statistics

In [3]:
df.count()

origin_country      291
origin_consulate    291
country             291
city                291
latitude            291
longitude           291
dtype: int64

In [4]:
df.head(5)

,origin_country,origin_consulate,country,city,latitude,longitude
0,ALBANIA,TIRANA,ALBANIA,TIRANA,41.330489,19.825569
1,ALGERIA,ALGIERS,ALGERIA,ALGIERS,36.775361,3.060188
2,ARGENTINA,BUENOS AIRES,ARGENTINA,BUENOS AIRES,-34.607568,-58.437089
3,AUSTRALIA,CANBERRA,AUSTRALIA,CANBERRA,-35.297591,149.101268
4,AZERBAIJAN,BAKU,AZERBAIJAN,BAKU,40.375588,49.832801